html {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "IBM Plex Mono", monospace;
    overflow-x: hidden;
  }

  .details {
    min-height: 100vh;
    display: flex;
    margin: 1em;
    margin-right: 10em;
    font-size: 2rem;
  }

section {
    color: aliceblue;
    margin-bottom: 2em;
}